<p id="notice"><%= notice %></p>

<h1>Bütün reseptlər</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Adı</th>
      <th>Diet</th>
      <th>Yemək tipi</th>
      <th>Mətbəx</th>
      <th>Bişmə müddəti</th>
      <th>Çətinlik dərəcəsi</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.food_preference.name %></td>
        <td><%= recipe.food_type.name %></td>
        <td><%= recipe.cuisine.name %></td>
        <td><%= recipe.cooking_time %></td>
        <td><%= recipe.difficulty_level %></td>
       
        <td><%= link_to 'Bax', recipe, :class =>"btn btn-info btn-small" %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Düzəlt', edit_recipe_path(recipe), :class =>"btn btn-success btn-small" %></td>
        <td><%= link_to 'Sil', recipe, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-danger btn-small" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Öz respetini əlavə et', new_recipe_path %>
